<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademicSyns - Host Login</title>
</head>
<body>

    <h1>AcademicSyns</h1>
    <h2>Host Login</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <br><br>

        <label>Password</label>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">Login</button>
    </form>

</body>
</html>